@charset "UTF-8";
$ionicons-font-path: "/fonts/ionicons" !default;
$ionicons-font-family: "Ionicons" !default;
$ionicons-version: "3.0.0-alpha.3" !default;
@import "../node_modules/ionicons/dist/scss/ionicons";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/react-bootstrap-table/dist/react-bootstrap-table-all.min";
@import "nojs-menus.scss";
@import "monetizer.scss";
@import "scrollbar.scss";

.lead {
  font-size: 1.4em;
}

.noMargin{
 margin-bottom: 0px;
}

pre {
  background-color: #333;
  border-color: #333;
  color: #eee;
  padding: 10px 20px;
  border-radius: 5px;
}

body{
background-color: #192119;
}

.whiteOnBlack{
  color: #FFFFFF;
}

.Footer{
height: 10vh;
max-width: 100vw;
background-color: #192119;
}

.navbar,
.navbar .btn,
.navbar .dropdown-item,
.navbar button {
  color: rgba(255,255,255,0.8);
  border-color: #445E47;
  font-size: 18px;
}

.btn-outline-secondary:hover{
    background-color: #3B523E !important;
    color: #FFFFFF;
}

.navbar {
  box-shadow: 0 0.5rem 3rem -0.9rem #000;
  border-bottom: 0.1px solid #445E47;
  background-color: #192119;         //#000000;
}

@media (max-width: 768px) {
  .display-2 {
    font-size: 3em;
  }
  .display-3 {
    font-size: 2.5em;
  }
  .display-4 {
    font-size: 2em;
  }
}

.icon-spin {
  display: inline-block;
  animation: spin 1s infinite linear;
  margin-right: 0.5vw;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

/**
 * This is a fix for Reactstrap 5.0.0-alpha.4 not displaying menus in the
 * navbar correcrtly on mobile devices.
 **/
.navbar .dropdown {
  display: block;
}

#LandButton:hover {
  color: #000000;
}

#subForm{
  padding-top: 5vh;
  box-shadow: 0 0.5rem 3rem -0.9rem #000;
  padding-bottom: 5vh;
  border-radius: 5px;
}

#nav-link {
  color: rgba(255,255,255,0.8);
}

#nav-link:hover {
  color: rgba(255,255,255,1);
}

@media (max-width: 768px) {
  .navbar .dropdown-menu {
    position: relative !important;
    display: block !important;
    transform: none !important;
    padding: 0 0 10px 0;
    border: none;
  }
}
/**
 * Fix for Reactstrap
 **/
.react-bs-table-sizePerPage-dropdown .dropdown-item a {
  display: block;
  color: #000;
  text-decoration: none;
}

.react-bs-table-sizePerPage-dropdown button {
  background: #fff;
  color: #000;
}
